* {
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(180, 163, 253);
  }
  li {
    float: right;
  }
  li a {
    display: inline-block;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 10px ;
    text-decoration: none;
  }
  li a:hover {
    color: white;
    background-color: rgb(85, 86, 150);
  }
  img{
      width: 100%;
  }
.list {
  float: left;
  width: 20%;
  padding: 5px;
  text-align: left;
  margin-top: 1px;
}
.list a {
  background-color: #ddd4f3;
  border-radius: 10px;
  padding: 5px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}
  
  .footer {
      float:left;
      width: 100%;
      background-color: rgb(173, 168, 243);
      border-radius: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: center;  
      padding-bottom:5px ;   
  }

@media only screen and (max-width:1100px) {
    ul{
      background-color: rgb(169, 209, 176);
    }
    .list {
      width: 20%;
      font-size: 1vw;
    }
    .list a{
      background-color: rgb(235, 218, 196);
    }

    .footer{
      background-color: rgb(253, 252, 192);
    }
    html{
      background-color: aqua;
    }
  }
  
  /* Responsive Design for mobile phones, 720px and down */
  @media only screen and (max-width:720px) {
    ul{
      background-color: rgb(152, 224, 165);
    }
    .list {
      width: 100%;
      font-size: 4vw;
    }
    .list a{
      background-color: rgb(196, 235, 199);
    }
    .footer{
      background-color: rgb(192, 253, 202);
    }
    li {
      float: right;
      width: 25%;
    }
    li:hover {
      color: white;
      background-color: rgb(85, 86, 150);
    }
    html{
      background-color: blue;
    }
  }